# logs 
/logs*

# results
/*results*
/template/results

/stage=100

# python
__pycache__

# dataset check
/get_dataset_results
template/scripts/test.sh

# ssim out
/template/core/dataset/SSIM/*.out
/template/core/dataset/SSIM/assets
/template/core/dataset/SSIM/*.csv
/template/core/dataset/SSIM/csv_save
/template/core/dataset/SSIM/temp.py

# ssim .out
/template/core/dataset/SSIM/*.out
/template/core/dataset/SSIM/assets

# scripts
/template/scripts/jhlee/*.sh
/template/scripts/jhlee/script_A
/template/scripts/jhlee/02*


# .out
**.out