# logs 
/logs*

# results
/*results*
/template/results

# python
__pycache__

# dataset check
/get_dataset_results
template/scripts/test.sh

# ssim .out
/template/core/dataset/SSIM/*.out
/template/core/dataset/SSIM/assets